@import url('https://fonts.googleapis.com/css?family=Lora|Anton');

// Variables
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration,$ease, $iteration, $direction) {
  -webkit-animation-duration: $duration;
     -moz-animation-duration: $duration;
       -o-animation-duration: $duration;
          animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
     -moz-animation-iteration-count: $iteration;
       -o-animation-iteration-count: $iteration;
          animation-iteration-count: $iteration;
  -webkit-animation-timing-function: $ease;
     -moz-animation-timing-function: $ease;
       -o-animation-timing-function: $ease;
          animation-timing-function: $ease;
  -webkit-animation-name: $name;
     -moz-animation-name: $name;
       -o-animation-name: $name;
          animation-name: $name;
  -webkit-animation-direction: $direction;
     -moz-animation-direction: $direction;
       -o-animation-direction: $direction;
          animation-direction: $direction;
}
@include keyframes(zoomA) {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@mixin zoomA {
  @include animate(zoomA, 12s, linear,infinite, alternate);
}

// Bootstrap

$text-primary-color: white;
$primary-color:#004E9A;
$border-box-primary:rgba(112,112,112,.5);
$border-box-secondary:#7FC4FD;
$box-primary-color:#BCE0FD;
$box-secondary-color:#F1F9FF;
$shadow-primary:0 3px 6px rgba(0,0,0,.16);
$shadow-box:0 3px 6px rgba(0,0,0,.56);
%font-text{
 font-family:'Lora',serif;
}
%font-titles{
 font-family: 'Anton', sans-serif;
}
body,html{
  @extend %font-text;
  // overflow: hidden;
}
h1,h2,h3,h4,h5{
  @extend %font-titles;
}
.btn{
  @extend %font-text;
  font-weight: bold;  
}
.landing{
  overflow: hidden;
  will-change: contents;
  box-shadow: 0 3px 6px rgba(0,0,0,.56);
}
.fill {
  min-width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url('/../img/background.jpg');
  background-position: top;
  background-size:100% 100%;
  background-repeat: no-repeat;
  filter: blur(2px);
  }
.header {
  margin: -100vh 0 0 0;
  border:solid 1px $text-primary-color;
  border-width: 0 1px 0 1px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.background{
  display: flex;
  min-height: 100vh;
  margin: -100vh 0 0 0;
}
#particles-js{
  filter: blur(0);
  }
.background div:first-child{
  flex:2;
}
.background div:not(.fill-background){
  background-color: #00339A;
  opacity: .1;
}
.background div:last-child{
  flex: 1.4;
}
.container-fill{
  will-change: transform;
  @include zoomA;
}
.fill-background{
  background-image: url('/../img/background.jpg');
  background-size: 270% 100%;
  background-repeat: no-repeat;
  background-position: 58% 0;
  filter:blur(0px);
  flex: 2;

}
.fill-background-login{
  background-image: url('/../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  // filter: blur(1px);
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-box;
}
.color-background{
  flex: 1;
  background-color: #00339A;
  opacity: .3;
  min-height: 100vh;
  min-width: 100%;
}
.color-background .particles-js-canvas-el{
  height: 99% !important;
}
.menu{
  top: 0%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5em;
}
.company{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color:$text-primary-color;
  font-weight: bold;
}
.company span:last-child{
  margin: -15px 0 0 40px
}
.links-container{
  padding: 10px 0 0 0;
}
.links-container a{
  padding:0 15px 5px 15px;
  font-size: 1em;
  color:$text-primary-color;
  margin: 0 5px;
}
.links-container a:hover{
  text-decoration: none;
  border-bottom: 2px solid $text-primary-color;
  font-weight: bold;
}
.links-container a.active-menu{
  border-bottom: 2px solid $text-primary-color;
  font-weight: bold;
}
.links-container .btn.btn-outline-primary{
  border-color: $text-primary-color;
  padding: 8px 15px;
  margin: -10px 0;
  vertical-align: baseline;
  border-width: 1.5px;
}
.links-container .btn.btn-outline-primary:hover{
  border-color: $text-primary-color;
  background-color: $primary-color
}
.messages-container{
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

h1.title{
  color: $text-primary-color;
  margin-left: 40px;
}
h4.text-contain{
  color: $text-primary-color;
  font-weight: normal;
  @extend %font-text;
  font-size: 1.1rem;
}
.rectangle{
  border: solid 3px $text-primary-color;
  width:50px;
}
.rectangle-min{
  border: solid 1px $text-primary-color;
  width:100px
}
.rectangle-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-container{
  display: flex;
  justify-content: flex-end;
}
.social-container a {
  color: $text-primary-color;
  font-size: 1.5em;
  margin: 0 30px 10px 0;
}
.cards-service{
  margin: 4em 0;
}
.cards-service .box-primary{
  border: 1px solid $border-box-secondary;
  padding: 2em 15px;
  border-radius: 5px;
}
.cards-service .box-primary:nth-child(2n){
  background-color: $box-secondary-color;
  padding: 6em 15px;
}
.cards-service .box-primary:nth-child(3n-1){
  border-width:1px 0 1px 1px;
  border-color:$border-box-secondary;
  border-radius: 5px 0 0 5px;
  border-style: solid;
}
.cards-service .box-primary:nth-child(5n-1){

  border-width:1px 1px 1px 0;
  border-color:$border-box-secondary;
  border-radius: 0 5px 5px 0;
  border-style: solid;
}
.cards-service .box-secondary:first-child{
  min-height: 450px;
  height: 450px;
  border-width:1px 0 1px 1px;
  border-color:$border-box-primary;
  border-radius: 5px 0 0 5px;
  border-style: solid;
}
.cards-service .box-secondary:last-child{
  min-height: 450px;
  height: 450px;
  border-width:1px 1px 1px 0;
  border-color:$border-box-primary;
  border-radius: 0 5px 5px 0;
  border-style: solid;
}
h6{
  font-family: 'Lora',serif;
  color: $primary-color;
  margin-top: 20px;
}
.cards-service p{
  color: $primary-color;
  font-size:.8em;
}
.cards-service .box-secondary:first-child .fill-card{
  background-color: $box-primary-color;
  height: 95%;
  position: relative;
  top: 2.5%;
  left: -70%;
  width: 200%;
  border: 1px solid $border-box-secondary;
}
.cards-service .box-secondary:last-child .fill-card{
  background-color: $box-primary-color;
  height: 95%;
  position: relative;
  top: 2.5%;
  left: -25%;
  width: 200%;
  border: 1px solid $border-box-secondary;
}
.cards-service .box-primary img{
  box-shadow: $shadow-primary;
  max-width: 100%;
  border-radius: 100%;
}
.info{
  background-image: url('/../img/info-background.jpg');
  background-size:12%;
  padding: 2em 0;
  color: $text-primary-color;
  box-shadow: 0 3px 6px rgba(0,0,0,.56);
  font-size: 1.1em;
}
.info img{
  max-width: 100%;
}
footer{
  padding: 1em 0;
}
footer hr{
  border-top: 1px solid $border-box-primary;
}
footer nav a{
  margin: 0 10px;
}
footer .social-footer{
  display: flex;
  justify-content: space-between;
}
.title-general {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}
article{
  padding: 2em 0;
}
